/* ******COMMONS****** */

/* ******HEADER****** */
.header_top {
    height: 50px;
    background-color: #000000;
}

/* ******JUMBOTRON****** */
.bottom_40 {
    bottom: 40px
}

/* ******MAIN****** */

/* ******FOOTER****** */

/* ******DEBUG****** */

.debug .box {
    height: 50px;
    max-height: 100%;
    background-color: green;
}

.debug #jumbotron,
.debug #jumbo_new_game {
    height: 400px;
    background-color: grey;
}

.debug main {
    height: 2500px;
}

.bg_new_game {
    background-color: #1f1f1f;
}