/* ******COMMONS****** */

ul {
    list-style: none;
}

.w_200 {
    width: 200px;
}

.fs_12 {
    font-size: 12px;
}

.br_10 {
    border-radius: 10px;
}

/* proprietà bottoni pagina */
.my_btn {
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 15px 8px 15px;
}

.btn_dark {
    background-color: #363636;
    transition: .1s;
}

.btn_dark:hover {
    opacity: .8;
}

.btn_orange {
    background-color: #cd3d0f;
    transition: .1s;
}

.btn_orange:hover {
    box-shadow: 0 0 0 1px #000000, 0 0 0 4px #cd3d0f;
}

.btn_blue {
    background-color: #2d64e6;
    transition: .1s;
}

.btn_blue:hover {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 4px #2d64e6;
}

.btn_grey {
    color: #2d64e6;
    background-color: #d9dadc;
    transition: .1s;
}

.btn_grey:hover {
    box-shadow: 0 0 0 1px #bebcbb, 0 0 0 4px #d9dadc;
}

.btn_white {
    color: black;
    background-color: #f5f5f5;
    transition: .1s;
}

.btn_white:hover {
    box-shadow: 0 0 0 1px #161c3b, 0 0 0 4px #f5f5f5;
}

/* ******HEADER****** */
.header_top {
    height: 40px;
    background-color: #000000;
}

.header_top img {
    width: 80px;
}

.nav_bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav_link {
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin: .5rem;
}

.nav_link img {
    width: 25px;
}

.font_arrow {
    font-size: 12px;
    color: #999999;
    margin: 0 5px;
}

.nav-item:hover i.font_arrow {
    color: #0a58ca;
}

.drop_down:hover a.nav_link {
    color: #0a58ca;
}

/* sezione dropdown della nav_bar */
.drop_container {
    width: 100%;
    background-color: #f8f9fa;
    position: absolute;
    top: 70px;
    left: 0;
}

.drop_container .drop_top {
    height: 120px;
}

.drop_container .drop_bottom {
    height: 80px;
    border-top: 1px solid #cccccc;
}

.drop_down {
    height: 70px;
    line-height: 70px;
}

.drop_down i.fa-chevron-up{
    position: relative;
    display: none;
}

.drop_down:hover i.fa-chevron-up {
    display: inline-block;
}

.drop_down:hover i.fa-chevron-down {
    display: none;
}

.my_display {
    display: none;
}

.drop_down:hover .my_display {
    display: block;
}




/* ******JUMBOTRON****** */

#jumbotron, #jumbo_new_game {
    height: 520px;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

/* sezione jumbotron principale */
#jumbotron img{
    width: 250px;
    margin-bottom: 15px;
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
}

/* sezione jumbotron nella sezione new_game */
#jumbo_new_game img {
    width: 300px;
    margin-bottom: 15px;
}

#jumbo_new_game {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
/* ******MAIN****** */

/* sezione #game giochi in evidenza */
#game .my_active_b {
    opacity: 1;
    padding: 1px;
    border: 2px solid #0072ce;
}

#game img {
    opacity: .8;
    cursor: pointer;
    position: relative;
    bottom: 0;
    transition: .2s;
}

#game img:hover {
    opacity: 1;
    bottom: 7px;
}

/* sezione playstation 5 */
#ps_5 .my_active_bb.hover_ps5 {
    opacity: 1;
    border-bottom: 2px solid #0072ce;
}

#ps_5 .hover_ps5 {
    cursor: pointer;
    opacity: .7;
    transition: .2s;
}

#ps_5 .hover_ps5:hover {
    opacity: 1;
}

/* sezione #new_game nuove uscite */
#new_game {
    background-color: #1f1f1f;
}

#new_game img {
    transition: .1s;
}

#new_game img:hover {
    cursor: pointer;
    transform: scale(1.04);
}

/* sezione playstation plus */
#ps_plus {
    background-color: #bebcbb;
}

/* sezione playstation store */
#ps_store img {
    transition: .1s;
}

#ps_store img:hover {
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1.03);
}

/* sezione playstation now */
#ps_now {
    background-color: #161c3b;
}

/* sezione social media */

#social_media img {
    transition: .2s;
}

#social_media img:hover {
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1.02);
}

#social_media #twit:hover {
    box-shadow: 0 0 5px 0 #1da1f3;
}

#social_media #fcb:hover {
    box-shadow: 0 0 5px 0 #1878f3;
}

#social_media #insta:hover {
    box-shadow: 0 0 5px 0 #d94263;
}

#social_media #tube:hover {
    box-shadow: 0 0 5px 0 #c5312c;
}

/* ******FOOTER****** */
footer {
    background-color: #00439c;
}

.img_globe {
    width: 15px;
    margin-right: 5px; 
}

.img_sie {
    width: 140px;
}

footer .link_footer a {
    color: white;
    text-decoration: none;
}

footer .link_footer a:hover {
    color: white;
    text-decoration: underline;
}

footer p a:hover {
    text-decoration: none;
}

/* ******MEDIAQUERY****** */

@media screen and (min-width: 992px) {
    #jumbo_new_game img {
        width: 200px;
        margin-bottom: 15px;
    }
}

/* ******DEBUG****** */

.debug .box {
    width: 80px;
    height: 80px;
    background-color: red;
    margin: 5px;
}

.debug .b_box {
    width: 100px;
    height: 40px;
    background-color: blue;
    margin: 0 5px;
}