/* ******COMMONS****** */

ul {
    list-style: none;
}

.w_200 {
    width: 200px;
}

.fs_12 {
    font-size: 12px;
}

.my_btn {
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 15px 8px 15px;
}

.btn_dark {
    background-color: #363636;
}

.btn_orange {
    background-color: #cd3d0f;
}

.btn_blue {
    background-color: #2d64e6;
}

.btn_grey {
    color: #2d64e6;
    background-color: #d9dadc;
}

.br_10 {
    border-radius: 10px;
}

.my_active_b {
    padding: 1px;
    border: 2px solid #0072ce;
}

.my_active_bb {
    border-bottom: 2px solid #0072ce;
}

/* ******HEADER****** */
.header_top {
    height: 40px;
    background-color: #000000;
}

.header_top img {
    width: 80px;
}

.nav_bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav_link {
    font-weight: 600;
    color: black;
    text-decoration: none;
    margin: .5rem;
}

.font_arrow {
    font-size: 12px;
    color: #999999;
    margin: 0 5px;
}

/* ******JUMBOTRON****** */

#jumbotron, #jumbo_new_game {
    height: 480px;
    background-size: cover;
    background-position: center;
}

#jumbotron img,
#jumbo_new_game img {
    width: 200px;
    margin-bottom: 15px;
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
}

#jumbo_new_game {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* ******MAIN****** */
#new_game {
    background-color: #1f1f1f;
}

#ps_plus {
    background-color: #bebcbb;
}

#ps_now {
    background-color: #161c3b;
}

/* ******FOOTER****** */
footer {
    background-color: #00439c;
}
/* ******DEBUG****** */

.debug .box {
    height: 50px;
    max-height: 100%;
    background-color: green;
}


/* .debug #jumbo_new_game {
    height: 400px;
    background-color: grey;
} */